.delete-student-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background-color: #fff5f5;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  color: #333;
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 600;
}

.student-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-size: 16px;
  color: #444;
  font-weight: 500;
}

.form-input {
  padding: 10px 12px;
  border: 1px solid  #ccc;
  border-radius: 8px;
  font-size: 15px;
  background-color: #f9f9f9;
  color: #555;
}

.form-input:disabled {
  cursor: not-allowed;
}

.delete-btn {
  background-color: #FF4F81;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #FF4F81;
}
